@{
    ViewData["Title"] = "Home Page";
}

@section Scripts
{
    <script src="~/js/MyGame.js"></script>
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div id="gameBoard" style="width: 100%; height: 100vh; display:  none">
    <div class="main">
      
        <div class="top-bar">
            <div>
                <input type="button" value="chinese"/>
            </div>
            <div>
                <input type="button" value="japanese"/>
            </div>
        </div>
        <div class="main-section">
               <img id="myDIV" class="mydiv" style="max-width: 100%;" src="images/008-k.jpg" alt="Italian Trulli">
        </div>
        <div class="bottom-bar">
            <div>
                <input type="button" value="korean"/>
            </div>
            <div>
                <input type="button" value="thai"/>
            </div>
        </div>
    </div>
   
    @* <div class="absolute"> <button class="bottomright" onclick="myFunction()">test</button></div> *@
</div>
<div id="loginPanel" style="width: 300px; display:  block">
    <input type="text" id="firstName">
    <input type="text" id="lastName">
    <button onclick="myFunction()">StartGame</button>
</div>


