@{
    ViewData["Title"] = "Home Page";
}

@section Scripts
{
    <script src="~/js/MyGame.js"></script>
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@* <div style="width: 300px;" > *@
@*     <img id="myDIV" class="mydiv" style="max-width: 100%;" src="images/008-k.jpg" alt="Italian Trulli"> *@
@*     <div class="absolute"> <button class="bottomright" onclick="myFunction()">test</button></div> *@
@* </div> *@
<div style="width: 300px;">
    <input type="text" id="firstName">
    <input type="text" id="lastName">
    <button onclick="myFunction()">StartGame</button>
</div>


